@media screen and (max-device-width: 480px) {


body
{
 width: 100%;
}

header
{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}

header h1
{
 text-align: center;
 color: #ffffff;
}





#contener
{
 position: absolute;
 top: 15%;
 left: 200px;
 width: 70%;
 margin: 0 5%;
}

nav
{
 position: fixed;
 top: 0; left: 0;
 width: 300px;
 height: 100vh;
 background: #ff6666;
}

#logout input
{
 display: block;
 font-size: 30px;
 width: 100%;
 height: 100%

}

.link_box
{
 width: 250px;
 height: 75px;
 line-height: 75px;
 margin: 10% 8%;
}

.link_box a
{
 font-size: 40px;
}

/*zgloszenia*/

#message_box
{
 top: 0px;
 width: 70%;
 margin-left: 10%;
}

.message
{
 width: 100%;
 min-height: 240px;
 text-align: center;
 margin-bottom: 2%;
 border: none;

}

.info, .content
{
 width: 100%;
 float: right;
}

.message input
{
 height: 60px;
 width: 160px;
 border: none;
 font-size: 25px;
}

.w 
{
 position: relative;
 float: left;
 width: 50%;
 height: 130px;
 margin: 0;
 padding-top: 2%;
 font-size: 40px;
}

.text
{
 position: absolute;
 margin: 2% 1% 2% 1%;
 top: 0;
 right: 0;
 width: 100%;
 min-height: 200px;
 border: none;
}
.color
{
 color: green;
}

/*Foto*/

#add_kat, #add_img
{
 width: 95%;
 padding: 0;
 margin: 0 8%;
 font-size: 40px;
}


.add 
{
 width: 100%;
}

#kategorie_admin{
  position: relative;
  width: 400px;
  margin: 1.5% auto;
  display: block;
}

#kategorie_admin a{
	color: #000000;
	text-decoration: none;
}

#albumy_admin
{
 top: 0px;
 width: 100%;
}

.album{
	width: 400px;
	height: 400px;
	font-size: 40px;
}

#g_a_p
{
 position: fixed;
 width: 100%;
 height: 300px;
 top: 0px;
 left: 0px;
 background-position: #ffffff;
 z-index: 999;
}

#g_a_p a
{
 float: left;
 width: 150px;
 height: 50px;
 margin: 5%;
 font-size: 18px;
 text-decoration: none;
 color: #ffffff;
 text-align: center;
 line-height: 50px;
 background: #999999;
 float: left;
}

#zdjecia_a
{
 width: 960px;
 margin: 10% auto;
}

.admin
{
 top: 97px;
}

.zdjecie_admin{
 width: 30%;
 margin: 30px 1%;
 height: 200px;
 float: left; 
 overflow: hidden;
 }

.zdj
{
 position: relative;
 top: -229px;
 width: 100%;
 box-shadow: 0 0 5px black;
}

.link-image{
  width: 100%;
}

#manage-image{
  position: relative;
  top: -10px;
  left: -20px;
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: inline-block;
  background: rgba(0, 0, 0, .8);
  z-index: 99;
  transform: translateX(-100%);
  transition: 500ms;
}

.zdjecie_admin:hover > #manage-image{
  transform: translateX(0%);
}

#manage-image li{
  position: relative;
  top: 20px;
  margin-bottom: 2%;
  float: left;
}

#manage-image li a
{
 width: 300px;
 font-size: 20px;
 text-decoration: none;
 color: #777777;
 text-align: center;
 line-height: 20px;
 transition: 500ms;
}

#manage-image li a:hover{
  color: #efefef;
}

.deletephoto img, .add-button img{
  width: 15%;
  margin-top: 3%;
}

.deletephoto a{
  background: none;
}






/* Blog */

.posts, .news
{
 position: relative;
 top: 0px;
 left: 12%;
 width: 35%;
 float: left;
 margin: 0 5%;
 padding: 0; 
}

.posts h1
{
  color: #34484c;
}

.posts input[type=submit], .news input[type=submit]
{
 width: auto;
 height: 23px;
 color: #ffffff;
 background: #992222;
 border: none;
 cursor: pointer;
}

.posts a
{
 color: #000000;
 text-decoration: none;
}

.posts a:hover
{
 color: #555555;
}

.posts a:visited
{
 color: #000000;
}

.posts a:active
{
 color: #995555;
}
#formularz
{
 position: relative;
 width: 100%;
}

#title
{
 width: 90%;
 height: 30px;
}

textarea
{
 width: 90%;
 height: 150px;
 font-size: 16px;
 resize: none;
}

#title, textarea
{
 display: block;
 margin: 0 auto;
 border: 1px solid black;
 padding: 0.1%;
 transition: 500ms;
}

.posts h3{
  text-align: center;
}

#title:focus , textarea:focus
{
 border: 1px solid #555555;
}

.posts table
{
 width: 500px;
}

.posts table td
{
 width: 150px;
 height: 35px;
 font-size: 24px;
 padding: 10px;
}

.action_table
{
 width: 20px;
}

.action_table input
{
 position: relative;
 left: 37px;
}

.news
{
 font-size: 19px;
}
